@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/maps";

@import "./base/resets";
@import "./base/fonts";

@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/restaurant-page";


@import "./components/heartIcon";
@import "./components/left-arrow";
@import "./components/hr";
@import "./components/onloadAnim";
@import "./components/plat";
@import "./components/platHoverAnim";
@import "./components/bigButton";

@import "./pages/search";
@import "./pages/steps";
@import "./pages/restaurantsList";
@import "./pages/loader";