@import './sass/utils.scss';
@import './sass/nav.scss';
@import './sass/bigLetters.scss';
@import './sass/profilPic.scss';

.presentation{
    margin-top: 75vh;
    &__text{
    opacity: 0;
    font-family: candal;
    font-weight: bold;
    font-size: 100px;
    color: $fonts;
    width: 60vw;
    margin: auto;
    text-transform: uppercase;
    &--left{
        position: relative;
        right: 50px;
        }
    &--right{
        position: relative;
        left: 350px;
    }
    }
}

#firstParagraph{
    margin-bottom: 50vh;
}

.inViewport{
    opacity: 1;
    transition: all 3.4s ease-out;
}

.logosAndText{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    & p{
        width: 50%;
    }
    & .logos {
        width: 50%; 
        margin: 20px;
        margin-top: 200px;
        & img{
            margin: 30px;
            width: 200px;
        }
    }
}

#projectList{
    margin-top: 300px;
    margin-bottom: 400px;
   
    ul{
        list-style-type: none;
        position: relative;
        right: 1000px; 
        transform: rotate(-5deg);
        & li{
            border: 2px solid white;
            background-color: $fonts;
            width: 200%;
            text-align: center; z-index: 0;
            transition: all 100ms linear;
            &:hover + .preview{
                visibility: visible;
                opacity: 1;
                height: 400px;
            }
        }
        & .preview{
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s linear;
            height: 1px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center;
            & .description {
                font-family: candal;
                font-size: 2em;
                color: $bg;
                margin-left: 4%;
                display: flex;
                align-items: center;
            }
            & video {
                border: 25px solid $bg;
            }
            & img {
                border: 25px solid $bg;
            }
        }
        & li a{ 
                margin-left: 500px;
                font-family: candal;
                text-transform: uppercase;
                font-size: 100px;
                font-weight: bold;
                color: $bg;                
            }
        
    }
}

#contact {
    display: flex;
    justify-content: space-around;
    & img {
    margin-bottom: 150px;
    height: 300px;
    }
}