@font-face {
  font-family: candal;
  src: url(./fonts/Candal/Candal-Regular.ttf);
}
@font-face {
  font-family: bowlby;
  src: url(./fonts/bowlbyOneSC/BowlbyOneSC-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  overflow-x: hidden;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
#nav {
  background-color: beige;
  z-index: 1000;
  text-align: right;
  position: relative;
  margin-right: 10px;
  opacity: 0;
  animation: appear 3s 1s forwards;
  text-overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
}
#nav span {
  font-size: 2em;
}
#nav a {
  text-decoration: none;
  font-family: candal;
  color: #1f1e1e;
  margin: auto;
  font-size: 1.4em;
  transition: all 0.1s cubic-bezier(1, 0.01, 1, 1);
}
#nav a:hover {
  border-bottom: 5px solid #1f1e1e;
}

@keyframes turnToWhite {
  100% {
    color: white;
  }
}
.bigLetters {
  font-size: 4500%;
  font-family: bowlby;
  font-weight: bold;
  color: #1f1e1e;
  animation: turnToWhite 3s 1s forwards;
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  top: 38vh;
  margin-bottom: 33vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bigLetters__letter {
  line-height: 0.4;
  text-transform: uppercase;
}

#profilPicContainer {
  position: absolute;
  top: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#profilPicContainer img {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  opacity: 0;
  animation: appear 3s 1s forwards;
}

.presentation {
  margin-top: 75vh;
}
.presentation__text {
  opacity: 0;
  font-family: candal;
  font-weight: bold;
  font-size: 100px;
  color: #1f1e1e;
  width: 60vw;
  margin: auto;
  text-transform: uppercase;
}
.presentation__text--left {
  position: relative;
  right: 50px;
}
.presentation__text--right {
  position: relative;
  left: 350px;
}

#firstParagraph {
  margin-bottom: 50vh;
}

.inViewport {
  opacity: 1;
  transition: all 3.4s ease-out;
}

.logosAndText {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.logosAndText p {
  width: 50%;
}
.logosAndText .logos {
  width: 50%;
  margin: 20px;
  margin-top: 200px;
}
.logosAndText .logos img {
  margin: 30px;
  width: 200px;
}

#projectList {
  margin-top: 300px;
  margin-bottom: 400px;
}
#projectList ul {
  list-style-type: none;
  position: relative;
  right: 1000px;
  transform: rotate(-5deg);
}
#projectList ul li {
  border: 2px solid white;
  background-color: #1f1e1e;
  width: 200%;
  text-align: center;
  z-index: 0;
  transition: all 100ms linear;
}
#projectList ul li:hover + .preview {
  visibility: visible;
  opacity: 1;
  height: 400px;
}
#projectList ul .preview {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  height: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#projectList ul .preview .description {
  font-family: candal;
  font-size: 2em;
  color: beige;
  margin-left: 4%;
  display: flex;
  align-items: center;
}
#projectList ul .preview video {
  border: 25px solid beige;
}
#projectList ul .preview img {
  border: 25px solid beige;
}
#projectList ul li a {
  margin-left: 500px;
  font-family: candal;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  color: beige;
}

#contact {
  display: flex;
  justify-content: space-around;
}
#contact img {
  margin-bottom: 150px;
  height: 300px;
}

/*# sourceMappingURL=index.css.map */
