$bg: beige;
$fonts:  rgb(31, 30, 30);

@font-face {
    font-family: candal;
    src: url(./fonts/Candal/Candal-Regular.ttf);
}

@font-face {
    font-family: bowlby;
    src: url(./fonts/bowlbyOneSC/BowlbyOneSC-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $bg;
    overflow-x: hidden;
}

.bigLetters{
    font-size: 4500%;
    font-family: bowlby;
    font-weight: bold;
    color: $fonts;
    transition: all 1s linear;
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    top: 38vh;
    margin-bottom: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__letter{
        line-height: .4;
        text-transform: uppercase;
    }
}

.presentation{
    margin-top: 75vh;
    &__text{
    opacity: 0;
    font-family: candal;
    font-weight: bold;
    font-size: 100px;
    color: $fonts;
    width: 60vw;
    margin: auto;
    text-transform: uppercase;
    &--left{
        position: relative;
        right: 50px;
        }
    &--right{
        position: relative;
        left: 350px;
    }
    }
}

#firstParagraph{
    margin-bottom: 50vh;
}

.inViewport{
    opacity: 1;
    transition: all 2.4s ease-out;
}

.logosAndText{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    & p{
        width: 50%;
    }
    & .logos {
        width: 50%; 
        margin: 20px;
        & img{
            margin: 30px;
            width: 200px;
        }
    }
}