.containerLoader{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height : 100vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    animation: fade-out 3s linear;
    opacity: 0;
    transform: scale(0);
    z-index: 1000;
  }

.bodyLoading{
  
  animation: overflow linear 6s;
}

.loader{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  &__L{
   border: 6px solid blue;
   border-color: rgb(147, 86, 220) transparent rgb(147, 86, 220) transparent;
    animation: rotation 1s infinite ease-out;
  }
  &__M{
    border : 6px solid rgb(255, 121, 217);
    border-color: transparent rgb(255, 121, 217) transparent rgb(255, 121, 217);
    width: 80px;
    height: 80px;
    position: relative;
    top: 4px;
    left: 4px;
    animation: fasterrotation 2s infinite ease-in-out;
  }
  &__S{
    border: 6px solid rgb(153, 226, 208);
    border-color:rgb(153, 226, 208) transparent;
    width : 40px;
    height: 40px;
    position : relative;
    top : 14px;
    left: 14px;
    animation: antirotation 2s infinite ease-in-out;
  }
  
}

@keyframes rotation{
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fasterrotation{
  100%{
    transform: rotate(540deg);
  }
}

@keyframes antirotation{
  100% {
    transform: rotate(-1980deg);
  }
}


@keyframes fade-out{
    0%{
      opacity: 1;
      transform : scale(1);
    }
    80%{
      opacity:1;
    
    }
    97%{ 
        opacity: .8;
        transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
}

@keyframes overflow{
  from{
    overflow: hidden;
  }

  to{
    overflow: visible;
  }
}