.restaurantsList{
    background-color: #f1f1f1;
    @include padding;

    @include responsive(min, map-get($breakpoints, "desktop")){
        background-color: rgba(241, 241, 241, .8);
        border-radius: 15px;
        @include box-shadow;
    }


    h2{
        margin-bottom: 30px;
    }

}

.restauList{
    width: 100%;
    height: 250px;
    @include box-shadow;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 30px;
    overflow: hidden;
    &__pic{
        width: 100%;
        
    }

    &__caption{
        height: 100px;
        background-color: white;
        padding: 10px 0 0 20px;
    }

    figure{
        height: 70%;
        overflow: hidden;
    }

    &:nth-of-type(-n+2){
        &::before{
            content: "Nouveau";
            width: 100px;
            height: 30px;
            display: block;
            background-color: $tertiarycolor;
            border-radius: 3px;
            font-weight: bold;
            font-size :.8em;
            color: darken($tertiarycolor,35%);
            text-align: center;
            position: absolute;
            right: 40px;
            margin-top: 20px;
            line-height: 30px;
            
          
        }
    }

    
}

.main-page__heart-icon{
    float: right;
    position: relative;
    right: 30px;
    top: -40px;
}

.desktop{
    @include responsive(min, map-get($breakpoints, "desktop")){
        padding-bottom: 40px;
        width: 700px;
        height: 2165px;
        position: relative;
        left: calc(50% - 700px / 2); //centrage absolu= positionnement abs. à left:50% et décalage moitié de la taille de l'élément
        border-radius: 40px;

    }
}


.wrapperForBg{
    @include responsive(min, map-get($breakpoints, "desktop")){
    background: linear-gradient(5deg, white 0 85.9%, rgba(255, 121, 217, .8)86% 100%), url(./images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    
 }
    
}


