.fonctionnement{
    @include padding;
    h2{
        margin-bottom: 30px;
    }
}

.step{
    display: flex;
    height: 90px;
    background-color: #F1F1F1;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    @include box-shadow;
    font-weight: bold;
    font-size: .9em;
    margin: 0 0 30px 15px;
    @include responsive (max, map-get($breakpoints, "smallmobile")){
        font-size: .8em;
    }

    .step-number{
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $primarycolor;
        color: white;
        position: absolute;
        left: 20px;
        font-weight: normal;
        text-align: center;
    }

    img{
        height: 20px;
        opacity: .5;
        position: absolute;
        left: 65px;

        @include responsive (max, map-get($breakpoints, "smallmobile")){
            left: 55px;
            height: 15px;
        }
    }
    &:hover{
        background-color: rgba($primarycolor, .2);
        & > img{
            filter: invert(38%) sepia(84%) saturate(901%) hue-rotate(235deg) brightness(90%) contrast(92%);
            opacity: 1;
        }
    }

}