.presentation{
    margin-top: 75vh;
    &__text{
    opacity: 0;
    font-family: candal;
    font-weight: bold;
    font-size: 100px;
    color: $fonts;
    width: 60vw;
    margin: auto;
    text-transform: uppercase;
    &--left{
        position: relative;
        right: 50px;
        }
    &--right{
        position: relative;
        left: 350px;
    }
    }
}

#firstParagraph{
    margin-bottom: 50vh;
}

.logosAndText{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    & p{
        width: 50%;
    }
    & .logos {
        width: 50%; 
        margin: 20px;
        margin-top: 200px;
        & img{
            margin: 30px;
            width: 200px;
        }
    }
}

.inViewport{
    opacity: 1;
    transition: all 3.4s ease-out;
}