header{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom : 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    //position: relative;
    z-index: 100;
    
        position: sticky;
        top: 0;
        background-color: white;
    
}